@import url("https://fonts.googleapis.com/css?family=PT+Serif");
html, body {
  font-family: 'PT Serif', serif;
  margin: 0;
  overflow-x: hidden; }

#navbar {
  top: 0;
  position: fixed;
  width: 100%;
  background-color: #e0ebe8; }
  #navbar ul {
    text-align: right;
    list-style: none; }
    #navbar ul a {
      text-transform: none;
      color: #345a36; }
      #navbar ul a li {
        display: inline-block;
        margin: 10px 75px 10px 75px; }

#welcome-section {
  background-color: #e0ebe8;
  min-height: 700px;
  padding-top: 40vh;
  text-align: center; }
  #welcome-section .iAm h1 {
    margin: 0;
    font-size: 2rem; }
  #welcome-section .iAm p {
    color: #345a36;
    margin: 0;
    letter-spacing: 0.1rem; }

#projects {
  background-color: #ccc;
  margin-top: -3px;
  text-align: center;
  width: 100%; }
  #projects .intro {
    text-align: center;
    color: #345a36;
    letter-spacing: 0.1rem;
    padding: 20px; }
  #projects .box {
    width: 80%;
    margin: auto; }
    #projects .box a {
      display: inline-block;
      width: 220px;
      height: 200px;
      margin: 40px 100px;
      border: 2px solid #000;
      text-decoration: none;
      color: #000; }
      #projects .box a .projects-pic {
        height: 170px;
        width: 100%; }
  #projects button {
    padding: 20px 30px;
    border: 3px solid #000;
    border-radius: 5px;
    background-color: #345a36; }
    #projects button a {
      text-decoration: none;
      color: #fff; }
