@import url('https://fonts.googleapis.com/css?family=PT+Serif');

$nav_header_bg: #e0ebe8;
$small_text_green: rgb(52, 90, 54);

html, body {
    font-family: 'PT Serif', serif;
    margin: 0;
    overflow-x: hidden;
}

#navbar {
    top: 0;
    position: fixed;
    width: 100%;
    background-color: $nav_header_bg;
    

    ul {
        text-align: right;
        list-style: none;

        a {
            text-transform: none;
            color: $small_text_green;
            
            li {
                display: inline-block;
                margin: 10px 75px 10px 75px;
            }
        }
    }
}

#welcome-section {
    background-color: $nav_header_bg;
    min-height: 700px;
    padding-top: 40vh;
    text-align: center;

    .iAm {
      

       h1 {
           margin: 0;
           font-size: 2rem;
       }

       p {
           color: $small_text_green;
           margin: 0;
           letter-spacing: 0.1rem;
       }
    }
}

#projects {
    background-color: #ccc;
    margin-top: -3px;
    text-align: center;
    width: 100%;
    

        .intro {
            text-align: center;
            color: $small_text_green;
            letter-spacing: 0.1rem;
            padding: 20px;
        }

        .box {
            width: 80%;
            margin: auto;

            a {
                display: inline-block;
                width: 220px;
                height: 200px;
                margin: 40px 100px;
                border: 2px solid #000;
                text-decoration: none;
                color: #000;

                .projects-pic {
                    height: 170px;
                    width: 100%;
                }

                
            }
          
        }

        button {
            padding: 20px 30px;
            border: 3px solid #000;
            border-radius: 5px;
            background-color: rgb(52, 90, 54);

            a {
                text-decoration: none;
                color: #fff;
            }
        }
}